{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<tr class="db_list_normal">
    <td class="col-icon">
        <a href="#" onClick="Clickmenu.show('be_users', '{backendUser.uid}', '1', '', '', ''); return false;" title="id={backendUser.uid}">
            <bu:spriteIconForRecord table="be_users" object="{backendUser}"/>
        </a>
    </td>
    <td class="t3-title-column">
        <a href="{bu:editRecord(parameters: 'edit[be_users][{backendUser.uid}]=edit&returnUrl={returnUrl -> f:format.urlencode()}')}">
            <b>{backendUser.userName}</b><br/>
            {backendUser.realName}
        </a>
    </td>
    <td class="col-control">
        <div class="btn-group" role="group">
            <f:link.action class="btn btn-default" arguments="{user: backendUser.uid}"
                title="{f:translate(key: 'backendLoginHistory_user_show', arguments: '{0: backendUser.username}')}">
                <core:icon identifier="actions-document-view"/>
            </f:link.action>

            <f:if condition="{userModuleAccess}">
                <f:if condition="{backendUser.isDisabled} == 1">
                    <f:then>
                        <a class="btn btn-default" href="{bu:issueCommand(parameters: 'data[be_users][{backendUser.uid}][disable]=0', redirectUrl: redirectUrl)}"
                            title="{f:translate(key:'visibility.unhide')}">
                            <core:icon identifier="actions-edit-unhide"/>
                        </a>
                    </f:then>
                    <f:else>
                        <a class="btn btn-default" href="{bu:issueCommand(parameters: 'data[be_users][{backendUser.uid}][disable]=1', redirectUrl: redirectUrl)}"
                            title="{f:translate(key:'visibility.hide')}">
                            <core:icon identifier="actions-edit-hide"/>
                        </a>
                    </f:else>
                </f:if>

                <bu:removeUser backendUser="{backendUser}"/>
            </f:if>
        </div>
    </td>
    <td>
        <f:if condition="{backendUser.lastLoginDateAndTime}">
            <f:then>
                <f:format.date format="{dateFormat} {timeFormat}">{backendUser.lastLoginDateAndTime}</f:format.date>
            </f:then>
            <f:else>
                <f:translate key="never">Never</f:translate>
            </f:else>
        </f:if>
    </td>
</tr>
