{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace um = KoninklijkeCollective\MyUserManagement\ViewHelper}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<tr class="db_list_normal">
    <td class="col-icon">
        <a href="#" class="t3-js-clickmenutrigger" data-table="be_users" data-uid="{backendUser.uid}"
            data-listframe="1" title="id={backendUser.uid}">
            <bu:spriteIconForRecord table="be_users" object="{backendUser}"/>
        </a>
    </td>
    <td class="col-title">
        <strong>{backendUser.userName}</strong><br/>
        {backendUser.realName}
    </td>
    <td>
        <f:if condition="{backendUser.isAdministrator}">
            <f:then>
                Admin <small>(0)</small>
            </f:then>
            <f:else>
                <f:for each="{backendUser.activeMountPoints}" as="mountPoint" iteration="i">
                    <um:pageInfo pageId="{mountPoint}">
                        {page.title} <small>({page.uid})</small>
                    </um:pageInfo>
                </f:for>
            </f:else>
        </f:if>
    </td>
    <td class="col-control">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="#" onclick="top.launchView('be_users', '{backendUser.uid}'); return false;"><core:icon identifier="actions-document-info"/></a>
        </div>
    </td>
    <td>
        <f:if condition="{backendUser.lastLoginDateAndTime}">
            <f:then>
                <f:format.date format="{dateFormat} {timeFormat}">{backendUser.lastLoginDateAndTime}</f:format.date>
            </f:then>
            <f:else>
                <f:translate key="never">Never</f:translate>
            </f:else>
        </f:if>
    </td>
</tr>
