{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="actionMenu">
    <f:be.menus.actionMenu>
        <f:for each="{actionMenuItems}" as="actionMenuItem">
            <f:be.menus.actionMenuItem label="{f:translate(key: '{actionMenuItem.labelKey}', default: '{actionMenuItem.defaultLabel}')}" controller="{actionMenuItem.controller}" action="{actionMenuItem.action}" />
        </f:for>
    </f:be.menus.actionMenu>
</f:section>

<f:section name="iconButtons">
    <f:link.action controller="BackendUser" action="online">{onlineUser.backendUser.realName}</f:link.action>
</f:section>

<f:section name="title">
    <h1><f:translate key="activeSessions">Active Sessions</f:translate></h1>
</f:section>

<f:section name="content">
    <table border="0" cellspacing="0" cellpadding="0" class="typo3-dblist">
        <tr class="t3-row-header">
            <td>
                <f:translate key="userName">Username</f:translate>
            </td>
            <td colspan="2">
                <f:translate key="realName">Real name</f:translate>
            </td>
            <td>
                <f:translate key="lastAccess">Last access</f:translate>
            </td>
            <td>
                <f:translate key="ipAddress">IP address</f:translate>
            </td>
            <td></td>
        </tr>

        <f:for each="{onlineUsersAndSessions}" as="onlineUser">
            <f:render partial="BackendUser/OnlineListRow" arguments="{onlineUser: onlineUser, dateFormat: dateFormat, timeFormat: timeFormat, currentSessionId: currentSessionId, isAdmin: currentUser.admin, returnUrl: returnUrl}" />
        </f:for>
    </table>
</f:section>