{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<bu:section title="Filter" collapsible="TRUE">
    <f:form action="list" class="backend-users-filters" objectName="demand" object="{demand}">
        <f:if condition="{isAdmin}">
            <f:then>
                <div>
                    <label for="tx_Beuser_usertype"><f:translate key="admin">Admin</f:translate></label>
                    <f:form.select
                        id="tx_Beuser_usertype"
                        property="userType"
                        options="{0: '{f:translate(key:\'both\')}', 1: '{f:translate(key:\'adminOnly\')}', 2: '{f:translate(key:\'normalUserOnly\')}'}"
                    />
                </div>
            </f:then>
            <f:else>
                <f:form.hidden property="userType" value="2" />
            </f:else>
        </f:if>
        <div>
            <label for="tx_Beuser_status"><f:translate key="status">Status</f:translate></label>
            <f:form.select
                id="tx_Beuser_status"
                property="status"
                options="{0: '{f:translate(key:\'both\')}', 1: '{f:translate(key:\'activeOnly\')}', 2: '{f:translate(key:\'inactiveOnly\')}'}"
            />
        </div>
        <div>
            <label for="tx_Beuser_logins"><f:translate key="login">Login</f:translate></label>
            <f:form.select
                id="tx_Beuser_logins"
                property="logins"
                options="{0: '{f:translate(key:\'both\')}', 1: '{f:translate(key:\'loginBefore\')}', 2: '{f:translate(key:\'neverLoggedIn\')}'}"
            />
        </div>
        <f:form.submit class="indent" value="{f:translate(key: 'filter')}" />
    </f:form>
</bu:section>