<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:bu="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers" bu:preserve="true"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend"/>

<f:section name="Buttons">
    <f:if condition="{user}">
        <be:moduleLayout.button.linkButton
                icon="actions-open" title="Edit"
                link="{be:uri.editRecord(table: 'be_users', uid: user.uid)}"
        />
        <f:if condition="{backendUser.currentlyLoggedIn} == 0">
            <f:if condition="{user.isDisabled} == 1">
                <f:then>
                    <be:moduleLayout.button.linkButton
                            icon="actions-edit-unhide" title="{f:translate(key:'visibility.unhide')}"
                            link="{be:moduleLink(route:'tce_db', query:'data[be_users][{user.uid}][disable]=0', currentUrlParameterName:'redirect')}"
                    />
                </f:then>
                <f:else>
                    <be:moduleLayout.button.linkButton
                            icon="actions-edit-hide" title="{f:translate(key:'visibility.unhide')}"
                            link="{be:moduleLink(route:'tce_db', query:'data[be_users][{user.uid}][disable]=1', currentUrlParameterName:'redirect')}"
                    />
                </f:else>
            </f:if>
        </f:if>
    </f:if>
</f:section>

<f:section name="Content">
    <f:if condition="{user}">
        <h1>
            <f:if condition="{user.realName}">
                <f:then>{user.realName}</f:then>
                <f:else>{user.username}</f:else>
            </f:if>

            <small>#{user.uid}</small>
        </h1>
        <div class="table-fit table-fit-wrap">
            <table class="table table-striped table-hover">
                <tbody>

                <f:if condition="{user.realName}">
                    <tr>
                        <th class="col-nowrap">Name</th>
                        <td>{user.realName}</td>
                    </tr>
                </f:if>

                <tr>
                    <th class="col-nowrap">Username</th>
                    <td>{user.username}</td>
                </tr>

                <f:if condition="{user.email}">
                    <tr>
                        <th class="col-nowrap">Email</th>
                        <td>{user.email}</td>
                    </tr>
                </f:if>

                <f:if condition="{user.description}">
                    <tr>
                        <th class="col-nowrap">Description</th>
                        <td>{user.description}</td>
                    </tr>
                </f:if>

                <f:if condition="{user.backendUserGroups}">
                    <tr>
                        <th class="col-nowrap">Groups</th>
                        <td>
                            <f:for each="{user.backendUserGroups}" as="group" iteration="i">
                                {group.title} <small>(#{group.uid})</small>{f:if(condition: i.isLast, else: ',')}
                            </f:for>
                        </td>
                    </tr>
                </f:if>

                <tr>
                    <th class="col-nowrap">Last login</th>
                    <td>
                        <f:if condition="user.lastLoginDateAndTime">
                            <f:then>{user.lastLoginDateAndTime -> f:format.date(format: '{dateFormat} {timeFormat}')}
                            </f:then>
                            <f:else>Never</f:else>
                        </f:if>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <f:render partial="LoginHistory/LoginSessions" arguments="{_all}"/>
    </f:if>
</f:section>
</html>
