<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h1>
        <f:translate
                key="LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:login_history_overview"/>
    </h1>

    <f:render partial="Filters/LoginHistory" arguments="{_all}"/>

    <f:render partial="LoginHistory/LatestLogins" arguments="{_all}"/>
    <f:render partial="LoginHistory/InactiveUsers" arguments="{_all}"/>
</f:section>

</html>

