{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="EmptyBackend"/>

<f:section name="actionMenu"/>

<f:section name="iconButtons"/>

<f:section name="headline">
    <h1>
        <f:translate key="loginHistoryOverview">User Login History</f:translate>
    </h1>
</f:section>

<f:section name="content">

    <f:if condition="{backendUsers}">
        <div class="user-selection">
            <h2>
                <f:translate key="loginHistoryUser">User</f:translate>
            </h2>
            <div class="selection">
                <f:form action="detail">
                    <div class="user-selection">
                        <label for="tx_myusermanagement_backendUser">User</label>
                        <f:form.select name="user" id="tx_myusermanagement_backendUser" options="{backendUsers}" optionValueField="uid" optionLabelField="username"
                            prependOptionLabel="All"/>
                    </div>
                    <f:form.button>View</f:form.button>
                </f:form>
            </div>
        </div>
    </f:if>

    <f:if condition="{logs.items}">
        <hr/>
        <div class="global-overview">
            <h2>
                <f:translate key="backendLoginHistory_last_known_records"/>
            </h2>

            <div class="table-fit">
                <table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
                    <thead>
                    <tr class="t3-row-header">
                        <th class="col-icon"></th>
                        <th class="col-title">
                            <strong>
                                <f:translate key="userName"/>
                            </strong>
                        </th>
                        <th class="col-date">
                            <f:translate key="date"/>
                        </th>
                        <th class="col-control"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{logs.items}" as="log">
                        <f:render partial="LoginHistory/LogListRow" arguments="{_all}"/>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </div>
    </f:if>

    <f:if condition="{inactiveUsers}">
        <div class="inactive-users-overview">
            <hr/>
            <h2>
                <f:translate key="backendLoginHistory_inactive_users"/>
            </h2>
            <table class="t3-table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="userName">Username</f:translate>
                        /
                        <f:translate key="realName">Real name</f:translate>
                    </th>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="lastLogin">Last login</f:translate>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{inactiveUsers}" as="backendUser">
                    <tr class="db_list_normal">
                        <td class="col-icon">
                            <a href="#" onClick="Clickmenu.show('be_users', '{backendUser.uid}', '1', '', '', ''); return false;" title="id={backendUser.uid}">
                                <bu:spriteIconForRecord table="be_users" object="{backendUser}" />
                            </a>
                        </td>
                        <td class="t3-title-column">
                            <a href="alt_doc.php?edit[be_users][{backendUser.uid}]=edit&returnUrl={returnUrl}">
                                <b>{backendUser.userName}</b><br />
                                {backendUser.realName}
                            </a>
                        </td>
                        <td>
                            <f:if condition="{userModuleAccess}">
                                <a href="#" onclick="top.launchView('be_users', '{backendUser.uid}'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
                                <a href="alt_doc.php?edit[be_users][{backendUser.uid}]=edit&returnUrl={returnUrl}"><bu:spriteManagerIcon iconName="actions-document-open" /></a>

                                <f:if condition="{backendUser.isDisabled} == 1">
                                    <f:then>
                                        <a href="<bu:issueCommand parameters="tce_db.php?&data[be_users][{backendUser.uid}][disable]=0&redirect={redirectUrl}" />"><bu:spriteManagerIcon iconName="actions-edit-unhide" options="{title: 'unhide'}" /></a>
                                    </f:then>
                                    <f:else>
                                        <a href="<bu:issueCommand parameters="tce_db.php?&data[be_users][{backendUser.uid}][disable]=1&redirect={redirectUrl}" />"><bu:spriteManagerIcon iconName="actions-edit-hide" options="{title: 'hide'}" /></a>
                                    </f:else>
                                </f:if>

                                <bu:removeUser backendUser="{backendUser}" />
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{backendUser.lastLoginDateAndTime}">
                                <f:then>
                                    <f:format.date format="{dateFormat} {timeFormat}">{backendUser.lastLoginDateAndTime}</f:format.date>
                                </f:then>
                                <f:else>
                                    <f:translate key="never">Never</f:translate>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
                <f:comment>
                    Footer row: no officially defined style yet
                </f:comment>
                <tr>
                    <td colspan="4">
                        <f:count subject="{inactiveUsers}"/>
                        <f:translate key="users">Users</f:translate>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </f:if>


</f:section>