{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace um = KoninklijkeCollective\MyUserManagement\ViewHelper}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<tr class="db_list_normal">
    <td class="col-icon">
        <a href="#" class="t3-js-clickmenutrigger" data-table="sys_filemounts" data-uid="{mount.uid}"
            data-listframe="1" title="id={mount.uid}">
            <bu:spriteIconForRecord table="sys_filemounts" object="{mount}"/>
        </a>
    </td>
    <td>
        {mount.title}
    </td>
    <td>
        <f:if condition="{mount.storage} > 0">
            <f:then>
                <um:storageLocation storageId="{mount.storage}" location="{mount.path}" />
            </f:then>
            <f:else>
                {mount.path} (absolute path)
            </f:else>
        </f:if>
    </td>
    <td class="col-control">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="#" onclick="top.launchView('sys_filemounts', '{mount.uid}'); return false;"><core:icon identifier="actions-document-info"/></a>

            <a class="btn btn-default" title="{f:translate(key: 'mount_action_edit')}"
                href="{um:editRecord(parameters: 'edit[sys_filemounts][{mount.uid}]=edit&returnUrl={returnUrl -> f:format.urlencode()}')}">
                <core:icon identifier="actions-document-open"/>
            </a>

            <um:linkConfirm
                class="btn btn-default"
                link="{um:removeRecord(parameters: 'cmd[sys_filemounts][{mount.uid}][delete]=1&redirect={returnUrl}')}"
                message="{f:translate(key: 'mount_confirm_delete', arguments: '{0: mount.title, 1: mount.uid}')}"
                title="{f:translate(key: 'mount_action_delete')}"/>
        </div>
    </td>
</tr>
