<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:bu="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers"
      xmlns:um="http://typo3.org/ns/KoninklijkeCollective/MyUserManagement/ViewHelpers" um:preserve="true"
      data-namespace-typo3-fluid="true">

<tr>
    <td class="col-icon">
        <a href="#" class="t3-js-clickmenutrigger" data-table="sys_filemounts" data-uid="{fileMount.uid}"
           data-listframe="1" title="id={fileMount.uid}">
            <bu:spriteIconForRecord table="sys_filemounts" object="{fileMount}"/>
        </a>
    </td>
    <td class="col-title">
        {fileMount.title}
    </td>
    <td>
        <f:if condition="{fileMount.storage} > 0">
            <f:then>
                <um:format.storagePath storageId="{fileMount.storage}" location="{fileMount.path}"/>
            </f:then>
            <f:else>
                {fileMount.path} (absolute path)
            </f:else>
        </f:if>
    </td>
    <td class="col-control">
        <div class="btn-group" role="group">
            <be:link.editRecord class="btn btn-default" table="sys_filemounts" uid="{fileMount.uid}" title="Edit">
                <core:icon identifier="actions-open"/>
            </be:link.editRecord>

            <a class="btn btn-default t3js-modal-trigger"
               href="{um:uri.removeRecord(table: 'sys_filemounts', uid: fileMount.uid)}"
               title="{f:translate(key:'LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:label.confirm.delete_record.hover')}"
               data-severity="warning"
               data-title="{f:translate(key:'LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:label.confirm.delete_record.title')}"
               data-content="{f:translate(key:'LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:label.confirm.delete_record.content', arguments: '{0: fileMount.title, 1: fileMount.uid}')}"
               data-button-close-text="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}">
                <core:icon identifier="actions-edit-delete"/>
            </a>
        </div>
    </td>
</tr>
</html>
