<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Styles/backend.css\')}'}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <div class="btn-toolbar" role="toolbar">
                        <f:be.buttons.csh/>
                        <f:render section="actionMenu"/>
                    </div>
                </div>
                <div class="right">
                    <f:be.pagePath/>
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">
                    <div class="btn-toolbar" role="toolbar">
                        <f:render section="iconButtons"/>
                    </div>
                </div>
                <div class="right">
                    <div class="btn-toolbar" role="toolbar">
                        <f:be.buttons.shortcut/>
                    </div>
                </div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:render section="headline"/>
                <f:flashMessages renderMode="div"/>
                <f:render section="content"/>
            </div>
        </div>
    </div>
</f:be.container>