<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:form action="detail" class="form-inline form-inline-spaced">
    <div class="form-group">
        <label for="login-history-users"><f:translate key="backendUser">User</f:translate></label>
        <f:form.select id="login-history-users" class="form-control input-sm" name="user"
                       prependOptionLabel="" options="{backendUsers}"/>
    </div>
    <div class="form-group">
        <f:form.submit value="{f:translate(key: 'view', default: 'View')}" class="btn btn-default btn-sm" />
    </div>
</f:form>

</html>
