.backend-users-filters {
    label {
        float: left;
        height: 20px;
        line-height: 20px;
        margin-right: 10px;
        width: 90px;
    }
    div {
        clear: both;
        margin-bottom: 5px;
    }
}