<f:layout name="EmptyBackend"/>

<f:section name="actionMenu"/>

<f:section name="iconButtons"/>

<f:section name="headline">
    <h1>
        <f:translate key="backendUserAccessOverview">Backend Access Overview</f:translate>
    </h1>
</f:section>

<f:section name="content">
    <f:if condition="{backendUsers}">
        <f:comment>
            Listing of all users
        </f:comment>

        <div class="table-fit">
            <table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
                <thead>
                <tr class="t3-row-header">
                    <th class="col-icon"></th>
                    <th class="col-title">
                        <strong><f:translate key="userName"/></strong>
                        /
                        <f:translate key="realName"/>
                    </th>
                    <th>
                        <f:translate key="inheritedMountPoints"/>
                    </th>
                    <th class="col-control"></th>
                    <th>
                        <f:translate key="lastLogin"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{backendUsers}" as="backendUser">
                    <f:render partial="UserAccess/IndexListRow"
                        arguments="{backendUser: backendUser, dateFormat: dateFormat, timeFormat: timeFormat}"/>
                </f:for>
                </tbody>
            </table>
        </div>
    </f:if>
</f:section>
