<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">

    <f:if condition="{page}">
        <h1>
            <f:translate key="LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:user_access_overview"/>
            <small>{page.title} (#{page.uid})</small>
        </h1>

        <f:if condition="{backendUsers}">
            <f:then>
                <f:render partial="UserAccess/ListWidget" arguments="{_all}"/>
            </f:then>
            <f:else>
                <div class="alert alert-info">
                    <div class="media">
                        <div class="media-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-exclamation fa-stack-1x"></i>
                                </span>
                        </div>
                        <div class="media-body">
                            <h4 class="alert-title">
                                <f:translate
                                        key="LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:no_users_found_title"/>
                            </h4>
                            <p class="alert-message">
                                <f:translate
                                        key="LLL:EXT:my_user_management/Resources/Private/Language/locallang_be.xlf:no_users_found_description"
                                        arguments="{0: page.uid}"
                                />
                            </p>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:if>
</f:section>

</html>
