{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<bu:section title="Filter" collapsible="TRUE">
	<f:form action="list" class="backend-users-filters" objectName="fileMountDemand" object="{fileMountDemand}">
		<div>
			<label for="tx_sysfilemount_title"><f:translate key="title">Title</f:translate></label>
			<f:form.textfield
				id="tx_sysfilemount_title"
				property="title"
			/>
		</div>
		<div>
			<label for="tx_sysfilemount_path"><f:translate key="path">Path</f:translate></label>
			<f:form.textfield
				id="tx_sysfilemount_path"
				property="path"
			/>
		</div>
		<f:form.submit class="indent" value="{f:translate(key: 'filter')}" />
	</f:form>
</bu:section>