#compareUsers {
    margin-bottom: 10px;
}

#tx_beuser_compare td {
    min-width: 170px;
}

div.collapsibleSection {
    background-color: #ededed;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 12px;
    margin-bottom: 24px;
}