{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace um = Serfhos\MyUserManagement\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="actionMenu" />

<f:section name="iconButtons">
    <f:link.action action="list"><bu:spriteManagerIcon iconName="actions-view-go-back" /></f:link.action>
</f:section>

<f:section name="title">
    <h1><f:translate key="fileMountDetail">File mount detail</f:translate></h1>
</f:section>

<f:section name="content">
    <table border="0" cellpadding="0" cellspacing="0" id="tx_beuser_compare" class="typo3-dblist">
        <tr class="t3-row-header">
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr class="db_list_normal">
            <td><h5><f:translate key="title">Title</f:translate></h5></td>
            <td>
                <a href="#" onClick="showClickmenu('sys_filemounts', '{fileMount.uid}', '1', '', '', ''); return false;" title="" id={fileMount.uid}">
                    <bu:spriteIconForRecord table="sys_filemounts" object="{fileMount}" />
                </a>
                {fileMount.title}
            </td>
        </tr>
        <tr class="db_list_normal">
            <td><h5><f:translate key="path">Path</f:translate></h5></td>
            <td>{fileMount.path}</td>
        </tr>
        <tr class="db_list_normal">
            <td><h5><f:translate key="isDisabled">Enable/Disable?</f:translate></h5></td>
            <td>
                <f:if condition="{fileMount.isDisabled} == 1">
                    <f:then>
                        <a href="<bu:issueCommand parameters="tce_db.php?&data[sys_filemounts][{fileMount.uid}][hidden]=0&redirect={redirectUrl}" />"
                        ><bu:spriteManagerIcon iconName="actions-edit-unhide" options="{title: 'unhide'}" /></a>
                    </f:then>
                    <f:else>
                        <a href="<bu:issueCommand parameters="tce_db.php?&data[sys_filemounts][{fileMount.uid}][hidden]=1&redirect={redirectUrl}" />"
                        ><bu:spriteManagerIcon iconName="actions-edit-hide" options="{title: 'hide'}" /></a>
                    </f:else>
                </f:if>
            </td>
        </tr>
        <tr class="db_list_normal">
            <td><h5><f:translate key="relatedBackendUserGroups">Related backend user groups</f:translate></h5></td>
            <td>
                <um:widget.groupsForFileMountWidget fileMount="{fileMount}" />
            </td>
        </tr>
    </table>
</f:section>